body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("https://www.desu.edu/sites/flagship/files/styles/region_background_2280/public/fpp/2681/region-background/image/athletics-ncaa-back2.jpg?itok=UBExvbp9")
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#searchText {
    align-content: center;
    text-align: center;
    font-family: Georgia
}

#jumbo {
    align-content: center;
    text-align: center;
    font-family:Georgia
}

#searchBar {
    align-content: center;
    text-align: center;
    font-family: Georgia
}

.navbar navbar-inverse navbar-fixed-top {
    background-color: #2a4269;
    color: white;
    font-family: Georgia
}

.navbar-header {
    background-color: #2a4269;
    color: white;
    font-family: Georgia
}

#navBar {
    background-color: #2a4269;
    color: white;
    font-family: Georgia
}
