@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is a test to see if continuous deployment is working</p>
<p>This is a test that is committed on February 10, 2020 2:21pm</p>
