<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<div id="container" style="text-align:center">

    <h1 style="font-weight: bold; font-size: 50px;color: #6C984B; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Who We Are</h1>
    <p style="font-size: 20px; margin-left: 70px; margin-right: 70px; margin-top: 30px ">
        Hello! We are MetaHealth, and this is our senior capstone project called HelpAlong. This web application has been developed
        by Brittany Miller-Burt, Hanna Kristensen, Jasmit Singh, and Abi Johnson. We attend Western Oregon
        University, and have developed this application from January 2020 to June 2020. We at MetaHealth wanted to see what
        we could do for the human condition with the
        skills we have learned throughout the course of our education. Each of us is driven by a passion to leave
        this world a better place than we found it, and that positive change starts within. No one is above prioritising
        their mental well-being and, thankfully, we’re having more serious conversations about the importance of self-care.
        Often people assume self-care can only be done through expensive beauty treatments or time consuming work outs.
        While these things could count, self-care is a very personal practice that embodies so many different approaches
        and knowing where to start can be overwhelming. Drawing from our team philosophy, HelpAlong is a website that is
        meant to “help you along” your mental health journey, not tell you what is right or wrong. HelpAlong serves to act
        as a mental well-being hub for users to track their daily lives and personal progress. Specialized tools such as a
        mood tracker, a task and calendar manager, and access to various mental health resources all come together to guide
        anyone who chooses to connect to our site.
    </p>

    <div id="row" style="height: 40px"></div>

    <h1 style="font-weight:bold ; font-size: 50px ; color: #6C984B ; text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;">Tools Used For Development:</h1>
    <p style="font-size: 20px ; margin-left: 70px; margin-right: 70px; margin-top:30px  ">The tech tools we have decided to use for this project are: Visual Studio, MVC, Microsoft SQL Server Management Studio, Azure, 
    Slack (for communication), .NET, and Git. This application is written with a combination of C#, HTML, CSS, and JavaScript. Additionally,
    throughout the conception and creation of this application, we as a team have implemented DAD/Agile software delivery methods.</p>

</div>
