<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <div id="contactPage">
        <br />
        <h2 id="visionTitle">Questions? Concerns? Contact us!</h2>
        <br />
        <ul id="emails">
            <li>Abigail Johnson: aljohnson18@wou.edu</li>
            <li>Jasmit Singh: jsingh18@wou.edu</li>
            <li>Hanna Kristensen: hkristensen15@wou.edu</li>
            <li>Brittany Miller-Burt: bmillerburt17@wou.edu</li>
        </ul>
    </div>

</div>