@{
    ViewBag.Title = "Flowchart";
}

<head>
    <meta name="viewport" content="width=device-width" />
</head>
<h2>Not sure how to take care of yourself?</h2>
<h3>We can help.</h3>
<button class="btn btn-default" onclick="runFlowchart()">Click here to begin</button>
<body>

    <div>
        <div id="chartText"></div>
        <div id="buttons"></div>
    </div>

</body>
@section scripts {
    <script src="~/Scripts/flow.js"></script>
}

