@{
    ViewBag.Title = "Flowchart";
}

<head>
    <meta name="viewport" content="width=device-width" />
</head>
<div style="text-align:center">
    <h2>Not sure how to take care of yourself?</h2>
    <button class="btn btn-default" id="startFlowchart" onclick="startScript()">Click here to begin</button>
    <div class="textFlowchart"></div>
    <div id="chartText"></div>
    <div id="buttons"></div>
    <button class="btn" style="padding:5px;"onclick="startScript()">Restart</button>
    <br /><br />
    <div id="addToTaskList"></div>
    <br /><br />
     @using (Html.BeginForm("UpcomingEvents", "Calendar", FormMethod.Post, new { id = "addTaskForm" })) {
        <div class="center-block">
            <div class="form-group">
                @Html.Label("task", "Add a task: ")
                @Html.TextBox("taskTitle", null, new { @class = "form-inline", type = "text", required = "required", maxlength = 1000 })
                <br />
                <button type="submit" class="MarkDownButtons">Add!</button>
            </div>
        </div>  
     }
</div>
     
@section scripts {
    <script src="~/Scripts/FlowchartScript.js"></script>
}

