<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

@using MetaHealth.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div id="gitHubPage">
        <br />
        <h2 id="visionTitle">GitHub Resources:</h2>
        <br />
        <ul id="githubLinks">
            <li><a href="https://github.com/HannaKristensen/MetaHealth">MetaHealth Repository</a></li>
            <li><a href="https://github.com/ja5mit">Jasmit Singh GitHub</a></li>
            <li><a href="https://github.com/HannaKristensen">Hanna Kristensen GitHub</a></li>
            <li><a href="https://github.com/millabilla">Brittany Miller-Burt GitHub</a></li>
            <li><a href="https://github.com/abijohnson">Abi Johnson GitHub</a></li>
        </ul>
    </div>

</div>


