<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />


<body>
    <div id="redirectTemp">
        <div class="col">
            <h1 id="redirectText">Hi there! It looks like you don't have your Google Calendar/Google tasks set up yet. Let's get you set up:</h1>
            <br />
            <h1 id="redirectText">1. Open the Gmail account you are using with our site </h1>
            <br />
            <h1 id="redirectText">2. On the very far right side, there is a side bar with a calendar logo and a tasks logo, you should see this:</h1>
            <img src="https://i.ibb.co/hd3pZvw/sidebar.png" height="377" width="145">
            <br />
            <h1 id="redirectText">3. Go ahead and click the calendar, and then click on the tasks. All you need to do is open them to activate them!</h1>
            <br />
            <h1 id="redirectText">4. Once they are both opened, refresh this page and you are good to go!</h1>
        </div>
    </div>
</body>

