<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

@using MetaHealth.Models
@model LoginViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="container">

    <div class="row" id="homeSlogan">
        <div class="col-lg-6" style="margin-top:40px ;">
            <p style="font-size: 45px ; font-family: Verdana ; font-weight:bold ; word-spacing:5px ; margin-top:17px ; ">Do Better.</p>
            <p style="font-size: 45px ; font-family: Verdana ; font-weight:bold ; word-spacing:5px ; margin-top:-15px ;">Be Better.</p>
            <p style="font-size: 45px ; font-family: Verdana ; font-weight:bold ; word-spacing:5px ; margin-top:-15px ; ">Feel Better.</p>
            <p style="float: left;
        font-size: 20px;
        color: darkgrey" >
                For those of us who  can be overwhelmed by the day-to-day,
                the  HelpAlong web app is an all encompassing coping tool that
                provides a single point of access to various coping strategies. The website
                will offer a variety of services that help users find a therapist in their area,
                figure out which methods of self-care work best for them, keeps their daily lives
                organized and on track, and provides a coping space filled with positive activities.
                Unlike  other mental health management applications, our product  will provide
                a cohesive experience for the user to explore what self care and mental well-being
                means to them.
            </p>
        </div>

        <div class="col-lg-6">
            <div class="row" id="socialLoginForm" style="text-align:center">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
            <div class="row" id="logoHome" style="display:flex ; justify-content:center;" >
                <img src="https://i.postimg.cc/GtCsPs39/help-Along-Logo.png" height="500" width="500" />
            </div>

        </div>
        
    </div>


    <div class="row" id="offers1">
        <div class="row" style="text-align:center ;">
            <h1 style="font-size:55px; font-weight:bold ; word-spacing:5px ; margin-bottom:35px ">What We Offer</h1>
        </div>
        <div class="col-lg-1" style="width:18%"></div>
        <div class="col-lg-6" style="width:300px ; height:300px; border: 7px solid #6C984B; text-align:center ; border-radius: 15px" >
            <h2 style="font-weight:bold">Google Calendar & Tasks</h2>
            <p>Access and edit your Google Calendar and Google Tasks to stay on top of your day and get reminded of important dates! Also add custom task lists and pre-made task lists in order to set goals and stay more organized. </p>
        </div>
        <div class="col-lg-1" style="width:12%"></div>
        <div class="col-lg-6" style="width:300px ; height:300px; border: 7px solid #49C7CA; text-align:center; border-radius: 15px">
            <h1 style="font-weight:bold">Mood Tracker</h1>
            <p>Track your moods throughout your day to day life so you can get a better understanding of your mood trends over time. Tracking your moods is a great way to make adjustments to your habits and lifestyle for overall self improvement!</p>
        </div>
        <div class="col-lg-1" style="width:18%"></div>
    </div>
    <div class="row" id="offers2" style="margin-top:30px ">

        <div class="col-lg-1" style="width:18%"></div>
        <div class="col-lg-6" style="width:300px ; height:300px; border: 7px solid #EE8535; text-align:center; border-radius: 15px">
            <h1 style="font-weight:bold ; font-size: 40px ; ">Self Care</h1>
            <p>Take a self care quiz to help guide you in finding what really works for you in terms of self care. Vent as much as you need in our venting space, and clear it all away with the click of a button! Not sure where to begin? Use our flowchart to help guide you through steps to figuring out that beginning.</p>
        </div>
        <div class="col-lg-1" style="width:12%"></div>
        <div class="col-lg-6" style="width:300px ; height:300px; border: 7px solid #F0C032; text-align:center ; border-radius: 15px">
            <h1 style="font-weight:bold ; font-size: 33px ">Mental Health Resources</h1>
            <p>Find mental health professionals and resources in your area according to your specific needs! Also get quick access to mental health help lines, self improvement articles, and mental health organizations.</p>
        </div>
        <div class="col-lg-1" style="width:18%"></div>
    </div>






</div>