<link href="@Url.Content("~/Content/resources.css")" rel="stylesheet" type="text/css" />

<div>
    <div class="container">
        <div class="row" id="helpLines">
            <div id="row1Icon" class="col-sm-3">
                Help Lines
            </div>
            <div class="col-sm-1" style="width:4%"></div>
            <div class="col-sm-3" id="squareRow1Title">
                <a href="https://suicidepreventionlifeline.org/">Suicide Prevention Lifeline</a>
                <p id="more">If you are experiencing suicidal thoughts or behaviors, please click this link for support.</p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow1Title">
                <a href="https://www.samhsa.gov/find-help/national-helpline">Treatment Refferal Helpline</a>
                <p id="more">If you are looking for specific treatment, please visit this site to recieve treatment refferal assistance.</p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow1Title">
                <a href="https://www.imalive.org/">Online Crisis Chatline</a>
                <p id="more">If you do not want to call a number, the online crisis chatline is a great way to talk to someone privately without talking on the phone.</p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow1Title">
                <a href="https://www.veteranscrisisline.net/">Veterans Crisis Line</a>
                <p id="more">Connect with the Veterans Crisis Line to reach caring, qualified responders with the Department of Veterans Affairs.</p>
            </div>
        </div>


        <div class="row" id="selfImprovement">
            <div id="row2Icon" class="col-sm-3">
                Self Improvement Articles
            </div>
            <div class="col-sm-1" style="width: 4%"></div>
            <div class="col-sm-3" id="squareRow2">
                <a href="https://jamesclear.com/productivity">Productivity and Time Management</a>
                <p id="more">Need tips on how to manage your time and be productive? This is the article for you!</p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow2">
                <a href="https://jamesclear.com/focus">Focusing</a>
                <p id="more">Having a hard time focusing/mainting your focus? This article offers many tips and tricks to help improve and understand focus.</p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow2">
                <a href="https://jamesclear.com/eat-healthy">Healthy Eating</a>
                <p id="more">Want to start eating healthier or get back on track with your nutrition? Here is a beginners guide to healthy eating habits.</p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow2">
                <a href="https://www.health.harvard.edu/heart-health/optimism-and-your-health">Optimism's Health Benefits</a>
                <p id="row2col4" style="color: darkgrey; font-size: 10px; text-align: right;">Coming to you from Harvard University, recent studies link optimism to better overall health! So look on the brightside, for your health!</p>
            </div>
        </div>
        <div class="row" id="organizations">
            <div id="row3Icon" class="col-sm-3">
                Mental Health Organizations
            </div>
            <div class="col-sm-1" style="width: 4%"></div>
            <div class="col-sm-3" id="squareRow3">
                <a href="https://twloha.com/">To Write Love on Her Arms</a>
                <p id="moreRow3Col1" style="color: darkgrey; font-size: 11px; text-align: right;">To Write Love on Her Arms is a non-profit movement dedicated to presenting hope and finding help for people struggling with depression, addiction, self-injury, and suicide.</p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow3">
                <a href="https://projectsemicolon.com/">Project Semicolon</a>
                <p id="more" style="font-size:11px">The message of Project Semicolon is simple, “A semicolon represents a sentence the author could have ended, but chose not to. That author is you and the sentence is your life.”</p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow3">
                <a href="https://www.bbrfoundation.org/">BBR Foundation</a>
                <p id="more" style="font-size:9.4px">Brain & Behavior Research Foundation (BBR Foundation) is working to support mental health by awarding grants for scientific research, helping to discover better treatment and encourage better education about mental illness. </p>
            </div>
            <div class="col-xs-1" style="width:1%"></div>
            <div class="col-sm-3" id="squareRow3">
                <a href="https://www.jedfoundation.org/">The Jed Foundation</a>
                <p id="more">A non-profit organization that protects emotional health and prevents suicide for our nation's teens and young adults.</p>
        </div>

    </div>
</div>
<br />
<br />