<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<div>
    <div class="container">
        <div id="resourceLinkPage">
            <div class="row">
                <br />
                <h2 id="resourceText">Useful Mental Health Resources:</h2>
                <br />
                <div class="col-sm-6" id="resourceCols">
                    <a href="https://twloha.com/" class="resourceButtons">To Write Love On Her Arms</a>
                    <p></p>
                    <a href="https://www.samhsa.gov/find-help/national-helpline" class="resourceButtons">Treatment Refferal HelpLine</a>
                    <p></p>
                    <a href="https://www.imalive.org/" class="resourceButtons">Online Support Chat</a>
                </div>
                <div class="col-sm-6" id="resourceCols">
                    <a href="https://suicidepreventionlifeline.org/" class="resourceButtons">Suicide Prevention LifeLine</a>
                    <p></p>
                    <a href="https://www.mentalhealth.gov/" class="resourceButtons">MentalHealth.gov</a>
                    <p></p>
                    <a href="https://victimsofcrime.org/our-programs/past-programs/stalking-resource-center/help-for-victims" class="resourceButtons">Stalking Resource Center</a>
                </div>
            </div>

            <br />

            <br />

            <div class="row">
                <br />
                <h2 id="resourceText">Fun and Calming Games to Play:</h2>
                <br />
                <div class="col-sm-6" id="resourceCols">
                    <a href="http://interactive.usc.edu/projects/cloud/flowing/" class="resourceButtons">Flow</a>
                    <p></p>
                    <a href="http://www.ferryhalim.com/orisinal/g3/drift.htm" class="resourceButtons">Drifting Afternoon</a>
                </div>
                <div class="col-sm-6" id="resourceCols">
                    <a href="https://www.miniclip.com/games/little-wheel/en/" class="resourceButtons">Little Wheel</a>
                    <p></p>
                    <a href="https://www.crazygames.com/game/echogenesis" class="resourceButtons">EchoGenesis</a>
            </div>

        </div>

    </div>
</div>
<br />
<br />