<link href="@Url.Content("~/Content/SelfCareQuiz.css")" rel="stylesheet" type="text/css" />


<div class="container">
    <p id="title">Self Care Quiz</p>
    <div>
        <form id="quiz" name="quiz">
            <hr />
            <p><strong>What sounds better to you right now?</strong></p>
            <input type="radio" id="multChoice" name="q1" value="1" /> A nap <br />
            <input type="radio" id="multChoice" name="q1" value="2" /> Venting my frustrations <br />
            <input type="radio" id="multChoice" name="q1" value="3" /> Something to get my heartrate going <br />
            <input type="radio" id="multChoice" name="q1" value="4" /> A minute to myself <br />

            <hr />
            <p><strong>What do you typically do when you are stressed?</strong></p>
            <input type="radio" id="multChoice" name="q2" value="4" /> Make as much work for myself as possible <br />
            <input type="radio" id="multChoice" name="q2" value="2" /> Bottle it up and try to ignore it <br />
            <input type="radio" id="multChoice" name="q2" value="1" /> Eat all the junk food I can <br />
            <input type="radio" id="multChoice" name="q2" value="3" /> Find an excuse to stay on my feet and not sit down and think about it <br />

            <hr />
            <p><strong>You arrive at work and you have a pile of new tasks to do. Oh great. What is your reaction?</strong></p>
            <input type="radio" id="multChoice" name="q3" value="2" /> Smile and pretend like you aren't freaking out inside <br />
            <input type="radio" id="multChoice" name="q3" value="1" /> The sight of this literally makes me feel more unmotivated <br />
            <input type="radio" id="multChoice" name="q3" value="4" /> No problem! Just add it to the millions of other things on my plate <br />
            <input type="radio" id="multChoice" name="q3" value="3" /> I wish I was outdoors or doing anything other than this <br />

            <hr />

            <p><strong>Where would you like to be right now?</strong></p>
            <input type="radio" id="multChoice" name="q4" value="3" /> A park<br />
            <input type="radio" id="multChoice" name="q4" value="1" /> My room <br />
            <input type="radio" id="multChoice" name="q4" value="4" /> At work <br />
            <input type="radio" id="multChoice" name="q4" value="2" /> With a friend or family member <br />

            <hr />

            <p><strong>What kind of music do you listen to?</strong></p>
            <input type="radio" id="multChoice" name="q5" value="4" /> I'm more of a podcast person<br />
            <input type="radio" id="multChoice" name="q5" value="1" /> Slow, sad songs <br />
            <input type="radio" id="multChoice" name="q5" value="2" /> Aggressive<br />
            <input type="radio" id="multChoice" name="q5" value="3" /> Upbeat<br />

            <hr />
            <p><strong>Which fits you better?</strong></p>
            <input type="radio" id="multChoice" name="q6" value="1" /> Low energy <br />
            <input type="radio" id="multChoice" name="q6" value="3" /> Pent up energy <br />
            <input type="radio" id="multChoice" name="q6" value="4" /> Busy body <br />
            <input type="radio" id="multChoice" name="q6" value="2" /> Pent up emotions <br />

            <hr />
            <p><strong>When talking to people, what fits you better? </strong></p>
            <input type="radio" id="multChoice" name="q7" value="2" /> I love talking to people <br />
            <input type="radio" id="multChoice" name="q7" value="3" /> I use lots of gestures when I speak<br />
            <input type="radio" id="multChoice" name="q7" value="1" /> More on the shy side <br />
            <input type="radio" id="multChoice" name="q7" value="4" /> I'm a good listener <br />

            <hr />
            <p><strong>You come home from a long day. What makes you feel better? </strong></p>
            <input type="radio" id="multChoice" name="q8" value="3" /> A clean house <br />
            <input type="radio" id="multChoice" name="q8" value="4" /> Extra time to relax <br />
            <input type="radio" id="multChoice" name="q8" value="1" /> Eating comfort food <br />
            <input type="radio" id="multChoice" name="q8" value="2" /> Talking to my friends/family <br />

            <hr />
            <p><strong>How active are you?</strong></p>
            <input type="radio" id="multChoice" name="q9" value="1" /> Not at all <br />
            <input type="radio" id="multChoice" name="q9" value="3" /> Super active<br />
            <input type="radio" id="multChoice" name="q9" value="2" /> Somewhat <br />
            <input type="radio" id="multChoice" name="q9" value="4" /> Super active but not because I want to be <br />

            <hr />
            <p><strong>What is an ideal gift for you?</strong></p>
            <input type="radio" id="multChoice" name="q10" value="2" /> A stress ball <br />
            <input type="radio" id="multChoice" name="q10" value="4" /> A new book <br />
            <input type="radio" id="multChoice" name="q10" value="1" /> Something to make me feel good about myself, like a new outfit<br />
            <input type="radio" id="multChoice" name="q10" value="3" /> New cleaning supplies <br />

            <hr />
            <p><strong>What scares you the most?</strong></p>
            <input type="radio" id="multChoice" name="q11" value="2" /> Not being enough <br />
            <input type="radio" id="multChoice" name="q11" value="3" /> Not experiencing enough <br />
            <input type="radio" id="multChoice" name="q11" value="1" /> Not accomplishing things in my life <br />
            <input type="radio" id="multChoice" name="q11" value="4" /> Not being able to be there for everyone<br />

            <hr />
            <p><strong>What are you more likely to experience when you're stressed?</strong></p>
            <input type="radio" id="multChoice" name="q12" value="4" /> Headaches <br />
            <input type="radio" id="multChoice" name="q12" value="2" /> Tension all over my body <br />
            <input type="radio" id="multChoice" name="q12" value="3" /> Fatigue <br />
            <input type="radio" id="multChoice" name="q12" value="1" /> Extreme lack of motivation <br />

            <hr />
            <p><strong>People would best describe me as...</strong></p>
            <input type="radio" id="multChoice" name="q13" value="3" /> Upbeat <br />
            <input type="radio" id="multChoice" name="q13" value="4" /> Always on the go <br />
            <input type="radio" id="multChoice" name="q13" value="1" /> Laid back <br />
            <input type="radio" id="multChoice" name="q13" value="2" /> Friendly <br />

            <br />
            <br />
            <input id="quizResultButton" type="button" value="All done!" onclick="check();" />

        </form>
    </div>

    <br />

    <h3 id="resultTitleText">Here are some things we suggest:</h3>
    <h3 id="errorText">Uh oh! Please answer all the questions first so we can calculate your results properly.</h3>

    <br />

    <div id="result1">

        <strong id="result1title1">Make a vision board!</strong>

        <p>
            A vision board is a collection of images or phrases that inspire you to be better,
            and are things you want for your future. Once you have this board made, you can look
            at it every day and manifest all the good things in your life! This will help to keep
            you motivated and focused on your dreams and goals. When doing this, don't try to be
            “realistic”. If you want a tesla, print out a photo of a tesla! If you want a mansion,
            print it and stick it on there. You are the only one who can make your dreams come true!
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz11() ">Add as Task</button>
        <br />

        <strong id="result1title2">Eat a healthy meal!</strong>

        <p>
            Food is our source of energy. If we feed it bad and unhealthy food, the energy we need
            to stay on top of our lives won't be available to us. A healthy meal can really make you
            feel energized and positive! There are lots of healthy meals that are actually tasty, and
            not just comprised of boring salads. Take this time to really find out the healthy foods
            you enjoy! Also, take this time to cook something and learn a new recipe! Fuel your body and your mind.
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz12() ">Add as Task</button>
        <br />

        <strong id="result1title3">Treat yourself!</strong>
        <p>
            Sometimes the most motivating and exciting thing is treating ourselves. Buy a new outfit that
            makes you feel great about yourself! Or, buy that one thing you’ve been dying to buy buy yourself.
            Retail therapy is very very real, and can really put that spring in your step. Of course, practice
            this in moderation. Be smart, but also treat yourself! You deserve it!
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz13() ">Add as Task</button>
    </div>

    <div id="result2">

        <strong id="result2title1">Write in a journal!</strong>

        <p>
            Writing has been proven to really relieve stress and clear the mind. While it may sound
            silly, keeping a journal can be incredibly therapeutic. It can help you organize your thoughts,
            and really examine your feelings and environment. If you don't like to physically write, type
            your frustrations out in a document on your computer or phone. This technique of self care is
            really worth a try, even if you initially feel like it won't do much.
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz21() ">Add as Task</button>
        <br />

        <strong id="result2title2">Try our venting box!</strong>

        <p>
            This feature on HelpAlong is one that is very important to us. This venting box is 100% private
            and secure, and you can use it as much and for as long as you’d like. This venting box makes all
            your troubles disappear off the screen! Just vent, sit back, and watch them fly away.
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz22() ">Add as Task</button>
        <br />

        <strong id="result2title3">Catch up with a family member or friend!</strong>

        <p>
            You know that one person you’ve really been meaning to talk to? Or that one person you can really
            trust? Talk to them! Text or call or email or fax. This will help either take your mind off things, or
            help you really talk through your stress and issues. Feeling pent up with stress is really really hard on
            you, not only mentally but physically. Let it out! You got this!
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz23() ">Add as Task</button>
    </div>

    <div id="result3">

        <strong id="result3title1">Exercise!</strong>

        <p>
            This doesn't have to involve buying a gym membership. Maybe just walk around the neighborhood! If you have
            pets, maybe take them with you, that way you both get some fresh air and exercise! Additionally, there are
            plenty of good at home workouts to do, try looking a few up on youtube!
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz31() ">Add as Task</button>
        <br />

        <strong id="result3title2">Do some spring cleaning!</strong>

        <p>
            It doesn't need to be spring to get a good cleaning in! Do some laundry, break out the pledge and windex.
            What a weight off your chest to have a tidy room and home. Also, you’ll get movin and groovin around, and
            that will relieve some tension off your body.
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz32() ">Add as Task</button>
        <br />

        <strong id="result3title3">Meditate!</strong>

        <p>
            Meditating has been proven to relieve stress and clear your mind. You could also incorporate some light
            yoga here, and really focus on clearing your mind and getting in tune with your body. There are many resources
            to help guide you here so you don't feel so lost, try the HeadSpace app or a guided yoga/meditation video on youtube.
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz33() ">Add as Task</button>
    </div>

    <div id="result4">

        <strong id="result4title1">Take a nap!</strong>

        <p>
            Try to take a short (or long, depending on your schedule) nap. This can really help to relieve stress and clear
            your mind. When you wake up, do some light stretching and think about the things that are positive in your life
            and remember that it will all be okay and that its okay to slow down every once in a while.
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz41() ">Add as Task</button>
        <br />

        <strong id="result4title2">Take a bath!</strong>

        <p>
            This is not just about keeping clean, this is about slowing down and relaxing. You can do lots of things while
            you’re in a nice bubble bath, like reading that book you promised yourself you would read! Or set up your laptop
            or phone and watch that show or movie you’ve been dying to watch.
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz42() ">Add as Task</button>
        <br />

        <strong id="result4title3">Meditate!</strong>

        <p>
            We all need to take some time to center ourselves. Meditation isn't always sitting criss cross and humming
            “oooohhhmmmm”. Meditation can come in many forms, and we suggest that you look up great meditation videos on
            youtube or try a meditation app! This will help you to really put yourself and your time first, and bring you
            back to what's really important: your health and your sanity. We can't be go go go all the time!
        </p>
        <button class="MarkDownButtonsTwo" type="submit" onclick="AddQuiz43() ">Add as Task</button>


    </div>

</div>

@section scripts {
    @Scripts.Render("~/Scripts/TasksAPI.js");
    <script src="~/Scripts/SelfCareQuiz.js"></script>
    <script>

        function AddQuiz11() {
    var text = document.getElementById("result1title1").innerHTML;
    var dataSend = JSON.stringify({
        'result1title1': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask11',
        error: errorOnAjax
    });

}
function AddQuiz12() {
    var text = document.getElementById("result1title2").innerHTML;
    var dataSend = JSON.stringify({
        'result1title2': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask12',
        error: errorOnAjax
    });

}
function AddQuiz13() {
    var text = document.getElementById("result1title3").innerHTML;
    var dataSend = JSON.stringify({
        'result1title3': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask13',
        error: errorOnAjax
    });

}
function AddQuiz21() {
    var text = document.getElementById("result2title1").innerHTML;
    var dataSend = JSON.stringify({
        'result2title1': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask21',
        error: errorOnAjax
    });

}
function AddQuiz22() {
    var text = document.getElementById("result2title2").innerHTML;
    var dataSend = JSON.stringify({
        'result2title2': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask22',
        error: errorOnAjax
    });

}
function AddQuiz23() {
    var text = document.getElementById("result2title3").innerHTML;
    var dataSend = JSON.stringify({
        'result2title3': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask23',
        error: errorOnAjax
    });

}
function AddQuiz31() {
    var text = document.getElementById("result3title1").innerHTML;
    var dataSend = JSON.stringify({
        'result3title1': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask31',
        error: errorOnAjax
    });

}
function AddQuiz32() {
    var text = document.getElementById("result3title2").innerHTML;
    var dataSend = JSON.stringify({
        'result3title2': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask32',
        error: errorOnAjax
    });

}
function AddQuiz33() {
    var text = document.getElementById("result3title3").innerHTML;
    var dataSend = JSON.stringify({
        'result3title3': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask33',
        error: errorOnAjax
    });

} function AddQuiz41() {
    var text = document.getElementById("result4title1").innerHTML;
    var dataSend = JSON.stringify({
        'result4title1': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask41',
        error: errorOnAjax
    });

}
function AddQuiz42() {
    var text = document.getElementById("result4title2").innerHTML;
    var dataSend = JSON.stringify({
        'result4title2': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask42',
        error: errorOnAjax
    });

}
function AddQuiz43() {
    var text = document.getElementById("result4title3").innerHTML;
    var dataSend = JSON.stringify({
        'result4title3': text
    });
    $.ajax({
        type: 'POST',
        contentType: "application/json",
        async: true,
        processData: false,
        data: dataSend,
        url: '/calendar/QuizTask43',
        error: errorOnAjax
    });

}

    </script>
}