<!DOCTYPE html>
<html>
<head>
    <style>
        #button {
            background-color: #6C984B;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border-radius: 24px;
            outline:none;
        }

        #title {
            text-align: center;
            align-content: center;
            font-family: Verdana;
            font-weight: 700;
            font-size: 50px;
            color: #248D83;
            margin: 10px
        }

        textarea {
          box-sizing:content-box;
          width: 100%;
          height:250px;
          border-color:#F0C032;
          border-width:3px;
          border-radius:28px;
          padding-top:20px;
          outline:none;
          resize:none;
        }

        #header {
            text-align: center;
            font-family: Verdana;
            font-size:20px;
        }

        #submitSelect {
            text-align: center;
            position: relative;
            font-family: Verdana;
            font-size: 18px;
        }

        #effectTypes {
          font-family: Verdana;
          width:100px;
          outline:none;
          border-width:0;
          height: 30px;
        }
    </style>
</head>
<body>
    <div id="container">
        <p id="title">Venting Space</p>
        <div id="header">
            <p>
                Expresing yourself can be incredibly therapeutic. We encourage you to write down any
                unpleasant thoughts or emotions you're experiencing. When you're ready, you can click 'Submit'
                and watch your troubles disappear with whatever visual you prefer.
            </p>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <form style="text-align:center;">
                    <textarea id="t"></textarea>
                    <br />
                    <br />

                </form>
            </div>
        </div>
        <div id="submitSelect">
           Preferred effect: <select name="effects" id="effectTypes">
                <option value="puff">Puff</option>
                <option value="blind">Blind</option>
                <option value="drop">Drop</option>
                <option value="explode">Explode</option>
                <option value="shake">Shake</option>
            </select>
            <br />
            <br />
            <button id="button" class="ui-state-default ui-corner-all">Submit</button>
            <br />
            <br />
        </div>
    </div>
</body>
</html>
@section scripts{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function () {
            // run the currently selected effect
            function runEffect() {
                // get effect type from
                var selectedEffect = $("#effectTypes").val();
                // Most effect types need no options passed by default
                var options = {};
                // Run the effect
                $(t).val("");
                $("#t").effect(selectedEffect, options, 800, callback);
            };
            // Callback function to bring a hidden box back
            function callback() {
                setTimeout(function() {
                    $("#t").removeAttr("style").hide().fadeIn();
                }, 500);
            };
            // Set effect from select menu value
            $("#button").on("click", function () {
                runEffect();
                //return false;
            });
        });
    </script>
}