<body>

    <div id="container">
        <p id="titleV">Venting Space</p>

        <div id="headerV">
            <p>Here you can vent and hit submit:</p>
        </div>
        <br />
        <form style="text-align:center">
            <textarea id="tV" style="width:500px; height:100px;"></textarea>
            <br>
        </form>
        <div id="submitSelectV">
            <button id="button" class="ui-state-default ui-corner-all">Submit</button>

            <br>
            <br>
            <select name="effects" id="effectTypes">

                <option value="puff">Animation 1</option>
                <option value="blind">Animation 2</option>
                <option value="drop">Animation 3</option>
                <option value="explode">Animation 4</option>
                <option value="shake">Animation 5</option>
            </select>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>