<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".button").click(function () {
                $("textarea").fadeOut();
            });
        });
    </script>
</head>
<body>

    <h2>Venting Space</h2>

    <p>Here you can vent and hit submit:</p>

    <form>
        <textarea name="message" style="width:600px; height:200px;"></textarea>
        <br>
    </form>


    <button class="button">Submit</button>


</body>
</html>
