<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
@model IEnumerable<Class_Project.Models.Athlete>
@{
    ViewBag.Title = "Home Page";
}

<div class="row" id="searchText">
    <h1>Search For An Athlete Here:</h1>
</div>

<div class="row" id="searchBar">
    @using (Html.BeginForm("HomePage", "Athletes", FormMethod.Get))
    {
        <p>
            <input type="text" name="SearchQ">
            <input type="submit" value="Search!" />
        </p>
    }
</div>

<div class="row" id="searchTable">
    @if (Model != null)
    {
        <table class="table" border="1" id="searchTable">
            @foreach (var i in Model)
            {
                <tr id="searchTable">
                    <td id="searchTable">
                        @Html.ActionLink(i.Name, "Details", new { id = i.AthleteID })
                    </td>
                </tr>
            }
        </table>
    }
</div>