<add name ="AzureContext" connectionString="Server=tcp:metahealth.database.windows.net,1433;Initial Catalog=Azure-Team-Project;Persist Security Info=False;User ID=metahealth;Password=Nartow24.55;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="Systems.Data.SqlClient" />