@model MetaHealth.Models.CustomList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CustomList</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PK }) |
    @Html.ActionLink("Back to List", "Index")
</p>