
@model MetaHealth.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<h1>Find Help</h1>

@using (Html.BeginForm("FindTherapist","Search",FormMethod.Get)) {
    @Html.AntiForgeryToken()
        <form class="form-horizontal">
            <div class="form-group row" id="therapyCat" name="therapyCat">
                <div class="control-label col-sm-4">
                    What source of support are you seeking?
                </div>
                    @Html.DropDownListFor(model => model.therapyCat, new List<SelectListItem> {
                        new SelectListItem{Text="Therapist", Value="therapists"},
                        new SelectListItem{Text="Psychiatrist", Value="psychiatrists"},
                        new SelectListItem{Text="Support group", Value="groups"},
                        new SelectListItem{Text="Treatment Centers", Value="treatment-rehab"}
                    },
                        new { @class = "form-control col-sm-8" }
                    )
            </div>
            
            <div class="form-group row" id="therapySpec" name="therapySpec">
                <div class="control-label col-sm-4">
                    What issue would you like to focus on?
                </div>
                @Html.DropDownListFor(model => model.therapySpec, new List<SelectListItem> {
                    new SelectListItem{Text="Anxiety", Value="anxiety"},
                    new SelectListItem{Text="Depression", Value="depression" },
                    new SelectListItem{Text="OCD", Value="obsessive-compulsive-ocd" },
                    new SelectListItem{Text="Bipolar Disorder", Value="bipolar-disorder" },
                    new SelectListItem{Text="Grief", Value="grief"},
                    new SelectListItem{Text="Borderline Personality", Value="borderline-personality"},
                    new SelectListItem{Text="General Coping Skills", Value="coping-skills"},
                    new SelectListItem{Text="Relationship Issues", Value="relationship-issues"}

                    },
                    new { @class = "form-control col-sm-8" }
                )
            </div>
            
            
            <div class="form-group row" id="therapyZipcode" name="therapyZipcode">
                <div class="control-label col-sm-4">
                    What is your zipcode?
                </div>
                @Html.EditorFor(model => model.therapyZipcode, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
            </div>
            
            <input type="submit" value="Find Help" />
    </form>
 }
</body>
</html>
