@model MetaHealth.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        body {
            font-family: Verdana;
        }
        .search {
            text-align: center;
        }
        h1 {
            font-weight:700;
            font-size: 50px;
        }
        .par {
            font-size: 20px;
        }
        .findHelpButton { 
             background-color: #49C7CA;
             border-radius: 28px;
             border: 1px solid #6C984B;
             display: inline-block;
             cursor: pointer;
             color: #ffffff;
             font-family: Arial;
             font-size: 17px;
             padding: 18px 31px;
             text-decoration: none;
             text-shadow: 0px 1px 0px #2f6627;
        }

        .form-control {
            border-radius: 36px;
            height: 50px;
        }
    </style>
</head>
<body>
<div class="search">
    <h1>Find Help</h1>
    <div class="par">
        Seeking help is an incredibly proactive approach to making sure you feel your best.
        HelpAlong would like to help you make the first step. Make your selections from below and we
        will redirect you to the proper channels as best as we can.
    </div>
</div>
    @using (Html.BeginForm("FindTherapist", "Search", FormMethod.Get)) {
        @Html.AntiForgeryToken()
        <form class="form-horizontal">
            <div class="form-group row" id="therapyCat" name="therapyCat">
                <label class="control-label col-sm-4">
                    What source of support are you seeking?
                </label>
                @Html.DropDownListFor(model => model.therapyCat, new List<SelectListItem> {
                    new SelectListItem{Text="Make a selection...", Value=""},
                    new SelectListItem{Text="Therapist", Value="therapists"},
                    new SelectListItem{Text="Psychiatrist", Value="psychiatrists"},
                    new SelectListItem{Text="Support group", Value="groups"},
                    new SelectListItem{Text="Treatment Centers", Value="treatment-rehab"}
                },
                    new { @class = "form-control col-sm-8" }
                )
            </div>

            <div class="form-group row" id="therapySpec" name="therapySpec">
                <label class="control-label col-sm-4">
                    What issue would you like to focus on?
                </label>
                @Html.DropDownListFor(model => model.therapySpec, new List<SelectListItem> {
                    new SelectListItem{Text="Make a selection...", Value=""},
                    new SelectListItem{Text="Anxiety", Value="anxiety"},
                    new SelectListItem{Text="Depression", Value="depression" },
                    new SelectListItem{Text="OCD", Value="obsessive-compulsive-ocd" },
                    new SelectListItem{Text="Bipolar Disorder", Value="bipolar-disorder" },
                    new SelectListItem{Text="Grief", Value="grief"},
                    new SelectListItem{Text="Borderline Personality", Value="borderline-personality"},
                    new SelectListItem{Text="General Coping Skills", Value="coping-skills"},
                    new SelectListItem{Text="Relationship Issues", Value="relationship-issues"}

                    },
                    new { @class = "form-control col-sm-8" }
                )
            </div>


            <div class="form-group row" id="therapyZipcode" name="therapyZipcode">
                <label class="control-label col-sm-4">
                    What is your zipcode?
                </label>
                @Html.EditorFor(model => model.therapyZipcode, new { htmlAttributes = new { @class = "form-control col-sm-10" } })
            </div>

            <input type="submit" value="Find Help" class="findHelpButton" />
        </form>
    }
</body>
</html>
