@charset "utf-8";

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E9E6D4;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Verdana;
    text-align: center;
}

img {
    border-radius: 30%;
}

h1 {
    margin: 5px;
}

h2 {
    margin: 0px;
}

p {
    margin: 0px;
}

#content {
    margin: auto;
}

#board {
    align-content: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
    min-width: 661px;
}

#boardDetails {
    text-align: center;
    background-color: #100FCEC;
    border-radius: 10px;
    border: 8px solid #f1f1f1;
    padding: 10px;
    width: 58%;
    min-width: 661px;
}

#infopanel {
    width: 100%;
    background-color: #f1f1f1;
    margin-top: 10px;
}

#header {
    width: 100%;
    text-align: center;
}

#grid {
    width: 424px;
    height: 364px;
    background-color: #1451D0;
    float: left;
    margin-top: 16px;
}

#dialog {
    width: 568px;
    background-color: #FFF47A;
    border: 1px solid #FCE700;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.MarkDownButtons {
    background-color: #49C7CA;
    border: 4px solid #248D83;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    font-size: 17px;
    text-decoration: none;
    border-radius: 24px;
}

#finished {
    display: none;
}

#boardDetails6x10 {
    display: none;
}

#boardDetails3x5 {
    display: none;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -80%);
    font-family: Verdana;
    font-size: 70px;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.selectList {
    text-align: center;
    position: relative;
    font-family: Verdana;
    padding: 4px;
}