body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #E9E6D4;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#visionText {
    text-align: center;
    align-content: center;
    font-family: 'Verdana';
    font-size: 50px;
}

.resourcesFooter {
    font-family: 'Verdana';
    font-size: 15px;
    list-style: none;
    color: black
}

#githubLinks {
    text-align: center;
    align-content: center;
    font-family: 'Verdana';
    font-size: 35px;
    list-style: none;
}

#visionTitle {
    text-align: center;
    align-content: center;
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 65px;
}

#visionParagraph {
    line-height: 1.85
}

.btn-default {
    background-color: #EE8535;
    border-radius: 28px;
    border: 1px solid #DE5C40;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Verdana';
    font-size: 17px;
    padding: 25px 51px;
    text-decoration: none;
}

    .btn-default:hover {
        background-color: #f39c59;
        color: white
    }

#socialLoginForm {
    align-content: center;
}

#logInColumn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #E9E6D4;
    color: black;
    font-family: 'Verdana';
}

.navbar-inverse {
    border: none;
    color: black;
    font-family: 'Verdana';
}

#gitHubPage {
    align-content: center
}

a:link {
    color: black;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

#contactPage {
    align-content: center
}

#emails {
    text-align: center;
    align-content: center;
    font-family: 'Verdana';
    font-size: 35px;
    list-style: none;
}

.resourceButtons {
    background-color: #49C7CA;
    border-radius: 42px;
    border: 4px solid #248D83;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: 'Verdana';
    font-size: 17px;
    padding: 23px 64px;
    text-decoration: none;
}

    .resourceButtons:hover {
        background-color: #9ce1e2;
    }

    .resourceButtons:active {
        position: relative;
        top: 1px;
    }

#resourceCols {
    align-content: center;
    text-align: center
}

#resourceText {
    text-align: center;
    align-content: center;
    font-family: 'Verdana';
    font-size: 40px;
}