<link rel="stylesheet" type="text/css" href="~/Content/Site.css">
@model IEnumerable<Class_Project.Models.Athlete>
@{
    ViewBag.Title = "Home Page";
}


<div class="row" id="searchText">
    <h1>Search For An Athlete Here:</h1>
</div>