@using Microsoft.AspNet.Identity

@*@if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav" style="float:right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
        </ul>
    }*@

@*@if (Request.IsAuthenticated) {*@

    
        <!-- need a dropdown here for account setting where in we can use the account controller
             that dropdown will lead to a menu where the name can be changed for your account
             dropdown could have login/log off button too???
         -->
@*}*@        
