@using MetaHealth.Models
@model LoginViewModel

<link href="@Url.Content("~/Content/loginRedirect.css")" rel="stylesheet" type="text/css" />

<div class="row" id="redirectRow">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}